header{
	color:red;
}
summary{
	font-family: counter;
	text-align: justify;
}
#quote{
	font-family: sans-serif;
	color: red;
    font-family: bolder;
}
aside{
	color:green;
	margin-bottom: 10px;
	margin-top: 10px;
	display: inline-block;
	vertical-align: top;
	
	
}
footer{
	color: darkgreen;
}